name: Trigger workflow in crucial

on:
  push:
    branches:
      - main

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Repo B Workflow
        env:
          GITHUB_TOKEN: ${{ secrets.PRIVATE_TOKEN_GITHUB }}
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token $GITHUB_TOKEN" \
          https://api.github.com/repos/Crucial-hash/crucial/actions/workflows/update-submodule-push.yml/dispatches \
          -d '{"ref":"main"}'
